html {
  font-family: Arial, sans-serif;
}

body {
  width: 850px;
  margin: 0px auto 0px auto;
}

ul {
  line-height: 1.5;
}

li {
  margin: 0.1em;
}

.organization {
  font-weight: bold;
}

.position {
  font-style: italic;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  font-weight: normal;
}
